<h3>Add your Task!</h3>
<form ng-model="inputForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="First Name" ng-model="inputForm.name">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Last Name" ng-model="inputForm.description">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Email" ng-model="inputForm.price">
    </div>
    <div class="form-group">
        <label for="date">Price</label>
        <input type="text" class="form-control" id="date" placeholder="Email" ng-model="inputForm.date">
    </div>

    <button type="button" class="btn btn-danger" ng-click="clearForm()">Clear</button>
    <button type="button" class="btn btn-success" ng-click="save(inputForm)">Save</button>
</form>
